* {
  box-sizing: border-box;
}
.black-background {

  background-color: black;
}

.whid-background {

  background-color: white;
}
.test1 {
  font-size: 17px;
  position: absolute;
  top: 15px;
  left: 1340px;
  transform: translate(-50%, -50%);
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.test1:hover{
  color: gold;
  transition: .5s;
}
.University {
  position: relative;
  right: 250px;
  top: 4px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.University:hover {
  color: gold;
  transition: .5s;
}
.pox {
  position: relative;
  bottom: 8px;
  right: 8px;
  background-color: black;
  height: 40px;  
  width: 101%;
}
.test2 {
  font-size: 17px;
  color: cyan;
  position: absolute;
  top: 3%;
  left: 82%;
}
.test2:hover {
  color: red;
  font-size: 20px;
  transition: all 0.5s 0.5s;
}
div {
  text-align: right;
}
.test3 {
  border-width: 10%;
  border-color: red;
  border-style: solid;
  border-bottom: 50%;
}
.tablee {
  position: absolute;
  top: 22%;
  left: 48%;
  transform: translate(-45%, -45%); 
  width: 52%;
  text-align: center;
  background-color: rgb(0, 183, 255);
}
tr:nth-child(odd) {
  background-color: green;
}
tr:nth-child(even) {
  background-color: gold;
}
.p {
  font-size: 20px;
  color: chartreuse;
  position: absolute;
  left: 90%;
}
.t {
  position: absolute;
  color: wheat;
  text-align: center;
  position: relative;
  top: 10px;
}
.ww:nth-child(odd) {
  background-color: brown;
} 
.ww:nth-child(even) {
  background-color: green;
}
.Translation {
  border-width: 3px;
  border-style: dotted;
  border-color: blue;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  left: 820px;
  top: 2px;
}
.page {
  position: relative;
  right: 40px;
  top: 25px;
}
.input {
  position: absolute;
  top: 60%;
  left: 80%;
}
video {
  position: absolute;
  top: 50%;
  left: 42%;
}
.button {
  position: absolute;
  top: 480px;
  left: 1190px;
}
.td {
  position: relative;
  left: 60px;
}
.inputt {
  position: relative;
  bottom: 100px;
  font-size: 25px;
}
.pp {  
  position: relative;
  left: 300px;
  color: black;
  top: 270px;
  display: inline;
}
.pp:hover {
  margin-left:10px ;
  transition: margin-left 1s;
  color: red;
  transition: 1s;
}
.ppp {
  font-size: 25px;
  color: red;
  text-align: left;
  border: 2px solid red;
  width: 100px;
  transform: rotate(-15deg);
}
.box {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: aqua;
  width: 100px;
  border: 3px solid red;
  transform: rotate(20deg);
  height: 70px;
}
.momen{
  text-align: center;
}
.momen:hover {
  color: orangered;
  transition: 1s;
}
.box:hover {
  transform: rotateY(-180deg);
  transition: 1s;
}
.button1 {
  color: red;
  background-color: black;
  position: relative;
  bottom: 80px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  border-radius: 800px;
}
td:hover {
background-color: black;
color: white;
}
.h {
  position: relative;
  left: 450px;
  text-align: center;
  border: 3px solid orange;
  border-radius: 20px;
  width: 400px;
  background-color: black;
  color: white;
}
.wq {
  text-align: right;
  color: aquamarine;
}
.wqw {
  background-color: orange;
  width: 200px;
  color: black;
  text-align: center;
  position: relative;
  left: 1150px;
  bottom: 200px;
  border:1px solid red;
  border-radius: 20px;
}
.www {
  text-align: center;
}
.definition {
  position: relative;
  bottom: 200px;
  left: 840px;
  color: white;
  background-color: green;
  border: 5px dotted red;
  border-radius:12px ;
  width: 500px;
}
.imgg {
  position: relative;
  left: 400px;
  top: 200px;
  width: 150px;
  border-radius: 12px;
  border: 2px solid orangered;
}
.inputtt {
  position: relative;
  top: 300px;
  left: 100px;  
}
.number1 {
  position: relative;
  top: 450px;  
  left: 1100px;
}
.cis1 {
  position: relative;
  bottom: 108px;
  display: block;
  width: 1500px;
  height: 400px;  
}
.cis {
  position: relative;
  top: 84px;
  left: 1px;
}
.cis2 {
  position: relative;
  bottom: 508px;
  right: 9px;
  display: block;
  width: 101%;
  height: 400px;
}
.cis2:hover {
 position: relative;
 top: 300px;
}
.me {
  position: relative;
  bottom: 1335px;
  left: 1400px;
  width: 100px;
  height: 70px;
  border-radius:100px;
}
.thee {
  position: relative;
  top: 6px;
  left: 750px;
  width: 700px;
  border-width:6px;
  border-style: dotted;
  border-color: red;
  height: 420px;
}
.thee:hover {
  background-color: orange;
  transition: 1s;
}
.Thanksa {
  text-align: center;
  color: black;
}
.the11 {
  position: relative;
  bottom: 415px;
  left: 15px;  
  width: 700px;
  border-width:6px;
  border-style: dotted;
  border-color: red;
}
.the11:hover {
  background-color: orange;
  transition: 1s; 
}
.bill {
  background-color: black;
  display: block;
  position: absolute;
  bottom: -300px;
  height: 150px;
  width: 99.4%;
}
.boxx {
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 1200px;
    background-color: aqua;
    width: 100px;
    border: 3px solid red;
    transform: rotate(20deg);
}
.facbook {
  color: orange;
  position: relative;
  right: 1200px;
  bottom: 50px;
  font-size: 30px;
  text-decoration: underline;
}
.sign {
  color: orange;
  position: relative;
  right: 700px;
  bottom: 110px;
  font-size: 30px;
}
.sign:hover {
  color: blue;
}
.to {
  background-color: greenyellow;
  height: 40px;
  display: block;
  position: relative;  
}
 .adss {
   position: absolute;
   bottom: 200px;
   right: -2px;
   width: 200px; 
   height: 200px;
   border: 2px solid black; 
 }
 .adsss {
  position: absolute;
  bottom: 200px;
  left: -2px;
  width: 200px; 
  height: 200px;
  border: 2px solid black; 
}
.div10 {
  position: absolute;
  bottom: -265%;
  left: 20%;
  background-color: darkgoldenrod;
  height: 200px;
  width: 13%;
}
.div12 {
  position: absolute;
  bottom: -265%;
  right: 20%;
  background-color: darkgoldenrod;
  height: 200px;
  width: 13%;
}
.red {
  position: relative;
  left: 630px;
  bottom: 1020px;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.green {
  position: relative;
  left: 690px;
  bottom: 1050px;
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.gold {
  position: relative;
  left: 750px;
  bottom: 1080px;
  background-color: gold;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.black {
  position: absolute;
  left: 20px;
  top: -893px;
  background-color: steelblue;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.whid {
  position: absolute;
  left: 70px;
  top: -893px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.boox {
  position: relative;
  bottom: 980px;
  left: 550px;
  background-color: #eee;
  width: 400px;
  height: 50px;
}
.select {
  text-align: center;
  position: absolute;
  right: 1340px;
  top: -440px;
}
.textarea {
  position: relative;
  top: 450px;
}
.div1 {
  position: absolute;
  top: 450px;
  left: 190px;
  background-color: aqua;
  height: 445px;
  width: 40%;
  border: 3px solid red;
}
.div1:hover {
  background-color: orange;
  transition: 1s;
}
.div2 {
  position: absolute;
  top: 450px;
  right: 100px;
  text-align: center;
  background-color: aqua;
  height: 445px;
  width: 40%;
  border: 3px solid red;
}
.div2:hover {
  background-color: orange;
  transition: 1s;
}
.p1 {
  text-align: center;
}
.p2 {
  text-align: center;
}
.h2 {
  position: absolute;
  top: 60px;
  text-align: center;
}
.h22 {
  position: absolute;
  top: 90px;
}
.div11 {
  position: absolute;
  top: 450px;
  left: 190px;
  background-color: aqua;
  height: 445px;
  width: 40%;
  border: 3px solid red;
}
.div11:hover {
  background-color: orange;
  transition: 1s;
}
.p11 {
  text-align: center;
}
.h222 {
  position: absolute;
  top: 60px;
  text-align: center;
  font-size: 23px;
}
.div22 {
  position: absolute;
  top: 450px;
  right: 100px;
  background-color: aqua;
  height: 445px;
  width: 40%;
  border: 3px solid red;
}
.div22:hover {
  background-color: orange;
  transition: 1s;
}
.p22 {
  text-align: center;
}
.h122 {
  text-align: center;
}
.div3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: greenyellow;
  height: 50px;
  width: 100%;
}
.h2222 {
  position: absolute;
  top: -10px;
  right: 90px;
  color: orange;
}
.h2222:hover {
  background-color: black;
  color: white;
}
.div4 {
  background-color: #eee;
  height: 400px;
  width: 100%;
  left: 0px;
  position: absolute;
  bottom: 150px;
}

.h11 {
  color: blue;
  position: absolute;
  left: 500px;
  top: 20px;
}
.number {
  position: absolute;
  left: 500px;
  top: 120px;
  width: 25%;
  height: 25px;
}
.password {
  position: absolute;
  left: 500px;
  top: 170px;
  width: 25%;
  height: 25px;
}
.submit {
  position: absolute;
  bottom: 130px;
  right: 690px;
  font-size: 20px;
  background-color: blue;
  color: white;
}
.reset {
  position: absolute;
  bottom: 132px;
  left: 550px;
}
.div5 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: greenyellow;
  height: 50px;
  width: 100%;
}
.number2 {
  position: absolute;
  right: 300px;
  bottom: 220px;
}
.div6 {
  position: absolute;
  left: 520px;
  top: 0px;
  background-color: black;
  height: 120px;
  width: 30%;
  border: 4px solid orange;
}
.h111 {
  position: absolute;
  top: -5px;
  left: 80px;
  color: white;
}
.h1111 {
  position: absolute;
  top: 50px;
  right: 40px;
  color: white;
}
.h1111:hover {
  color: orange;
}
.h11111 {
  color: white;
  position: absolute;
  top: 50px;
  left: 40px;
}
.h11111:hover {
  color: orange;
}
.h22222 {
  position: absolute;
  right: 200px;
  background-color: orange;
  border: 1px solid red;
  border-radius: 30px;
  top: 200px;
}
.div7 {
  background-color: green;
  height: 400px;
  width: 30%;
  position: absolute;
  right: 200px;
  bottom: 90px;
  border: 4px dotted red;
}
.h3 {
  color: aqua;
}
.p3 {
  color: white;
  text-align: center;
}
.p4 {
  text-align: center;
  color: white;
}
.p6 {
  position: absolute;
  right: 188px;
  top: 120px;
  color: white;
}
.p5 {
  position: absolute;
  right: 130px;
  top: 140px;
  color: white;
}
.p7 {
  color: aqua;
  position: absolute;
  top: 170px;
  left: 170px;
}
.p8 {
  position: absolute;
  right: 205px;
  bottom: 150px;
  color: white;
}
.p9 {
  position: absolute;
  right: 209px;
  bottom: 130px;
  color: white;
}
.h33 {
  color: aqua;
  position: absolute;
  bottom: 100px;
  right: 0px;
}
.p10 {
  position: absolute;
  bottom: 80px;
  right: 30px;
  color: white;
}
.p11 {
  position: absolute;
  bottom: 50px;
  right: 30px;
  color: white;
}
.h333 {
  position: absolute;
  bottom: 10px;
  right: 150px;
  color: aqua;
}
.img1 {
  position: absolute;
  top: 300px;
  left: -250px;
  width: 50%;
  border: 5px solid orange;
}
a {
  text-decoration: none;
}
.h222222 {
  position: absolute;
  bottom: 380px;
  left: 320px;
  color: black;
}
.h222222:hover {
  color: orangered;
}
.h21 {
  position: absolute;
  bottom: 330px;
  left: 300px;
  color: black;
}
.h21:hover {
  color: orangered;
}
.h2121 {
  position: absolute;
  top: 160px;
  left: 330px;
  color: black;
}
.h2121:hover {
  color: orangered;
}
.h23 {
  position: absolute;
  bottom: 250px;
  left: 300px;
  color: black;
}
.h23:hover {
  color: orangered;
}
.h24 {
  position: absolute;
  bottom: 180px;
  left: 270px;
  color: black;
}
.h24:hover {
  color: orangered;
}
.h25 {
  position: absolute;
  bottom: 120px;
  left: 280px;
  color: black;
}
.h25:hover {
  color: orangered;
}
.h26 {
  position: absolute;
  bottom: 40px;
  left: 378px;
  color: black;
}
.h26:hover {
  color: orangered;
}
.div8 {
  background-color: darkcyan;
  width: 50%;
  height: 500px;
  position: absolute;
  top: 100px;
  left: 400px;
  border: 7px solid red;
}
.h10 {
  position: absolute;
  top: 50px;
  left: 100px;
  color: firebrick;
}
.div9 {
  background-color: khaki ;
  height: 600px;
  width: 50%;
  position: absolute;
  top: 50px;
  left: 350px;
}
.h13 {
  position: absolute;
  top: 150px;
  left: 100px;
  color: firebrick;
}
.h14 {
  position: absolute;
  top: 250px;
  left: 100px;
  color: firebrick;
}
.h15 {
  position: absolute;
  top: 350px;
  left: 100px;
  color: firebrick;
}
.h16 {
  position: absolute;
  top: 450px;
  left: 100px;
  color: firebrick;
}
.input1 {
  position: absolute;
  top: 85px;
  left: 260px;
  width: 50%;
  border-radius: 20px;
}
.radio {
  position: absolute;
  right: 350px;
  top: 185px;
}
.radio1 {
  position: absolute;
  right: 200px;
  top: 185px;
}
.h27 {
  position: absolute;
  right: 270px;
  top: 165px;
  color: blue;
}
.h28 {
  position: absolute;
  right: 170px;
  top: 165px;
  color: blue;
}
.checkbox {
  position: absolute;
  bottom: 295px;
  right: 250px;
}
.checkbox1 {
  position: absolute;
  bottom: 295px;
  right: 160px;
}
.checkbox2 {
  position: absolute;
  bottom: 295px;
  right: 70px;
}
.h29 {
  position: absolute;
  bottom: 275px;
  right: 190px;
  color: blue;
}
.h30 {
  position: absolute;
  bottom: 275px;
  right: 90px;
  color: blue;
}
.h31 {
  position: absolute;
  bottom: 275px;
  right: 15px;
  color: blue;
}
.number3 {
  position: absolute;
  bottom: 195px;
  right: 120px;
  width: 60%;
  height: 22px;
  border-radius: 30px;  
}
.radio2 {
  position: absolute;
  bottom: 98px;
  right: 520px;  
}
.h32 {
  position: absolute;
  bottom: 75px;
  right: 450px;
  color: blue;
}
.radio3 {
  position: absolute;
  bottom: 98px;
  right: 400px;
}
.h34 {
  position: absolute;
  bottom: 75px;
  right: 340px;
  color: blue;
}
.radio4 {
  position: absolute;
  bottom: 98px;
  right: 280px;
}
.h35 {
  position: absolute;
  bottom: 75px;
  right: 200px;
  color: blue;
}
.submit1 {
  position: absolute;
  bottom: 50px;
  left: 100px;
  background-color: aqua;
}
.submit1:hover {
  background-color: orange;
  color: white;
}
.img2 {
  height: 650px;
  width: 100.5%;
  position: absolute;
  top: 50px;
  right: -0.3px;
}
.many {
  background-color: orange;
  border: 2px solid red;
  position: absolute;
  top: 7%;
  right: 3%;
  color: maroon;
}
.h36 {
  position: absolute;
  bottom: 30%;
  right: 5%;
  color: blue;
}
.number4 {
  position: absolute;
  bottom: 33%;
  right: 17%;
  width: 40%;
}
.submit2 {
  position: absolute;
  bottom: 25%;
  right: 52%;
  background-color: blue;
  color: white;
}
.submit2:hover {
  background-color: orange;
}
.h4 {
  position: absolute;
  top: 9%;
  right: 50%;
  color: blue;
}
.h44 {
  position: absolute;
  top: 16%;
  right: 43%;
  color: blue;
}
.hr {
  width: 40%;
  position: absolute;
  top: 25%;
  left: 28%;
}
.p12 {
  position: absolute;
  right: 10%;
  top: 28%;
}
.p13 {
  position: absolute;
  left: 10%;
  top: 28%;
}
.p14 {
  position: absolute;
  top: 40%;
  left: 20%;
}
.textarea1 {
  position: absolute;
  top: 42%;
  left: 28.5%;
}
.p15 {
  position: absolute;
  top: 48%;
  left: 25%;
}
.textarea2 {
  position: absolute;
  top: 50%;
  left: 28%;
}
.p16 {
  position: absolute;
  top: 55%;
  left: 24%;
}
.textarea3 {
  position: absolute;
  top: 57%;
  left: 54%;
}
.textarea4 {
  position: absolute;
  top: 57%;
  right: 56%;
}
.p17 {
  position: absolute;
  bottom: 30%;
  right: 22%;
}
.textarea5 {
  position: absolute;
  bottom: 32%;
  right: 26%;
}
.p18 {
  position: absolute;
  bottom: 22%;
  right: 22%;
}
.textarea6 {
  position: absolute;
  bottom: 24%;
  right: 25%;
}
.p19 {
  position: absolute;
  bottom: 22%;
  left: 22%;
}
.textarea7 {
  position: absolute;
  bottom: 24%;
  left: 26%;
}
.submit3 {
  position: absolute;
  bottom: 15%;
  left: 25%;
  background-color: blue;
  color: white;
}
.submit3:hover {
  background-color: orange;
}
.h0 {
  color: brown;
  position: absolute;
  top: 8%;
  left: 42%;
}
.p20 {
  position: absolute;
  top: 17%;
  left: 46%;
  font-size: 20px;
  border: 2px solid black;
}
.p21 {
  position: absolute;
  top: 25%;
  right: 20%;
  font-size: 20px;
  border: 2px solid black;
}
.p22 {
  position: absolute;
  top: 25%;
  left: 47.5%;
  font-size: 20px;
  border: 2px solid black;
}
.p23 {
  position: absolute;
  top: 25%;
  left: 20%;
  font-size: 20px;
  border: 2px solid black;
}
.p24 {
  position: absolute;
  top: 35%;
  right: 20%;
  font-size: 20px;
  border: 2px solid black;
}
.p25 {
  position: absolute;
  top: 45%;
  right: 10%;
  font-size: 20px;
  border: 2px solid black;
}
.p26 {
  position: absolute;
  top: 45%;
  right: 25%;
  font-size: 20px;
  border: 2px solid black;
}
.p27 {
  position: absolute;
  top: 35%;
  right: 42%;
  font-size: 20px;
  border: 2px solid black;
}
.p28 {
  position: absolute;
  top: 35%;
  right: 50%;
  font-size: 20px;
  border: 2px solid black;
}
.p29 {
  position: absolute;
  top: 35%;
  right: 58%;
  font-size: 20px;
  border: 2px solid black;
}
.p30 {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 20px;
  border: 2px solid black;
}
.p31 {
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 20px;
  border: 2px solid black;
}
.p32 {
  position: absolute;
  top: 35%;
  left: 30%;
  font-size: 20px;
  border: 2px solid black;
}
.p33 {
  color: blue;
  font-size: 18px;
  text-align: center;
}
.p34 {
  color: blue;
  font-size: 18px;
  text-align: center;
}
.More1 {
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: aqua;
  color: brown;
}
.More {
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: aqua;
  color: brown;
}
.input2 {
  position: absolute;
  top: 20%;
  right: 30%;
}
.input3 {
  position: absolute;
  top: 20%;
  left: 30%;
}
.input4 {
  position: absolute;
  top: 40%;
  right: 30%;
}
.input5 {
  position: absolute;
  top: 40%;
  left: 30%;
}
.h37 {
  position: absolute;
  top: 17%;
  right: 22%;
}
.h38 {
  position: absolute;
  top: 17%;
  right: 50%;
}
.h39 {
  position: absolute;
  top: 37%;
  right: 22%;
}
.h40 {
  position: absolute;
  top: 37%;
  right: 50%;
}
.submit4 {
  position: absolute;
  bottom: 40%;
  left: 30%;
  background-color: aqua;
  color: black;  
}
.submit4:hover {
  background-color: orange;
}